<!-- Sidebar -->
<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
  <div class="sidebar-brand">
    <a href="{% url 'dashboard:index' %}" class="brand-link">
      <div class="brand-image d-flex align-items-center justify-content-center">
        <i class="bi bi-leaf text-success" style="font-size: 2rem;"></i>
      </div>
      <span class="brand-text fw-light">EcoTrack</span>
    </a>
  </div>
  <div class="sidebar-wrapper">
    <nav class="mt-2">
      <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="navigation">
        <li class="nav-item">
          <a href="{% url 'dashboard:index' %}" class="nav-link {% if request.resolver_match.url_name == 'index' %}active{% endif %}">
            <i class="nav-icon bi bi-speedometer"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'dashboard:checkup' %}" class="nav-link {% if request.resolver_match.url_name == 'checkup' %}active{% endif %}">
            <i class="nav-icon bi bi-calculator"></i>
            <p>Calculate Footprint</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'dashboard:detailed' %}" class="nav-link {% if request.resolver_match.url_name == 'detailed' %}active{% endif %}">
            <i class="nav-icon bi bi-info-circle"></i>
            <p>Detailed Information</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'dashboard:impact' %}" class="nav-link {% if request.resolver_match.url_name == 'impact' %}active{% endif %}">
            <i class="nav-icon bi bi-lightning-fill"></i>
            <p>Impact</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'dashboard:reports' %}" class="nav-link {% if request.resolver_match.url_name == 'reports' %}active{% endif %}">
            <i class="nav-icon bi bi-clipboard"></i>
            <p>Your Reports</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
